<form class="signup-form">
    <div>
        <label for="username-signup">Enter Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">Enter Email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup"> Enter Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>

<a class='login' href="/login">Already have an account? Click to login</a>

<script src="/javascript/signup.js"></script>
